<% layout('layouts/bootstrap') -%>

<div class="container">
  <body>
    <div ng-app="blog" ng-controller="ViewPostController">


    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="/js/app/app.js"></script>
  
</div>
